* {
  box-sizing: border-box;
  /* overflow: hidden; */
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-size: 25px;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal
}

/* -----contaiter---------- */

.container {
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 320px) {
  .container {
    max-width: 300px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 941px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1459px;
  }
}

/* ---/--contaiter---------- */

/* ---hero----- */
.section-hero {
  padding-bottom: 43px;
  background-color: #333087;
  background-image: url(./img/mobile/stars_mob.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.title-content {
  padding-top: 30px;
}

.hero__logo {
  width: 185px;
  height: 184px;
  margin-left: auto;
  margin-right: auto;
}

.title__box {
  margin-top: 31px;
  line-height: 50px;

  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fff;

  text-align: center;
}

.sup__title {
  font-size: 25px;
  font-weight: inherit;
}

.hero__title {
  font-size: 45.9px;
  font-weight: inherit;
}

/* ---img------------ */

.hero__blanket_right {
  max-width: 619px;
  margin-top: 30px;
  margin-left: auto;
}

.hero__blanket_left {
  max-width: 521px;
  margin-top: -200px;
  z-index: 2;

  display: none;
}

/* ----quality-box--- */

.quality {
  margin-top: 43px;
  text-align: center;
  color: #fffffc;

  display: grid;
  gap: 45px;
}

.filler__title,
.cover__title {
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fffffc;
}

.filler__sub-title,
.cover__sub-title {
  font-size: 20.9px;
  text-transform: none;
  line-height: 1.5;
}

.high-quality__img {
  width: 83px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.high-quality__text,
.high-quality__text {
  font-size: 20.9px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #fffffc;
}

/* -----/--section-hero---- */


/* -------section-advantages------ */
.advantages {
  padding: 75px 0 31px;
}

.advantages-main__content {
  position: relative;
}

.main-content__sup-title,
.main-content__sub-title {
  font-size: 18.8px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #1d1d1b;
}

.main-content__sup-title {
  position: absolute;
  top: -50px;
  left: 50%;
  width: 180px;
  z-index: 5;
}

.main-content__sub-title {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 180px;
  z-index: 5;
}

/* ----advantages__list--------- */

.advantages__list {
  margin-top: 35px;
}

.list-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
}

.list-item:not(:last-child) {
  margin-bottom: 30px;
}

.list-item__img {
  width: 220px;
  height: 220px;
}

.list-item__title {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #e27601;
}

.list-item__text {
  font-size: 18.8px;
  color: #000000;
}

/* -----section-comparison--------- */

.section-comparison {
  background-color: #333087;
  background-image: url(./img/mobile/clouds_mob.png);
  background-repeat: no-repeat;
  background-position: center bottom;

  padding-top: 32px;
  padding-bottom: 99px;
  min-height: 230px;
}

.table-comparison {
  display: none;
}

.comparison__healthy-sleep {
  text-align: center;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.comparison__healthy-sleep_accent {
  font-size: 37.5px;
  font-weight: 700;
}

/* -----tablet----- */

.comparison__title {
  text-align: center;
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fff;
  margin-bottom: 30px;
}

.table-comparison__blankets {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}


.table-comparison__blankets-img {
  width: 401px;
  height: 205px;

  margin-bottom: 28px;
}

.table-comparison__blankets-text {
  text-align: center;

  font-size: 35.5px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.characteristics-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;
  column-gap: 15px;
}

.characteristics-item__title {
  font-size: 29.2px;
  color: #ee7601;
  line-height: 2;
}

.characteristics-item__text {
  padding: 20px 41px;
  background-color: #ee7601;
  text-align: center;
  border-radius: 10px;

  font-size: 29px;

  font-weight: 400;
  letter-spacing: 0.025em;
  color: #fff;
}

/* -------media------------------- */

@media (min-width: 1024px) {

  /* --------section-hero--------- */
  .section-hero {
    background-image: url(./img/tablet/star_tab.png);
    padding-bottom: 36px;
  }

  .title-content {
    display: flex;
  }

  .hero__blanket_right {
    margin-top: -80px;
  }

  .hero__blanket_left {
    display: block;
  }

  .title-content {
    padding-top: 63px;
    display: flex;
    justify-content: space-between;
  }

  .hero__logo {
    width: 247px;
    height: 246px;
    margin: 0;
  }

  .hero__title {
    font-size: 56.3px;
    letter-spacing: normal;
    font-weight: inherit;
  }

  .sup__title {
    font-size: 41.8px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    font-weight: inherit;
    margin-bottom: 10px;
  }

  .quality {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    text-align: left;
  }

  .high-quality {
    display: flex;
    align-items: center;
    column-gap: 19px;
  }

  .high-quality__img {
    margin: 0;
  }

  .filler__title,
  .cover__title {
    font-size: 37.5px;
    text-transform: none;
  }

  .filler__sub-title,
  .cover__sub-title {
    font-size: 29.2px;
    letter-spacing: 0.025em;
  }

  .high-quality__text,
  .high-quality__text {
    font-size: 29.2px;
  }

  /* -----/--section-hero---- */

  /* -------section-advantages------ */
  .advantages {
    padding: 100px 0 54px;
  }

  .main-content__sup-title,
  .main-content__sub-title {
    font-size: 35.5px;
    line-height: 1.2;
    letter-spacing: 0.025em;
  }

  .main-content__sup-title {
    position: absolute;
    left: 45%;
    width: auto;
  }

  .main-content__sub-title {
    position: absolute;
    bottom: 20px;
    left: 75%;
  }

  /* ----advantages__list--------- */

  .advantages__list {
    margin-top: 95px;
  }

  .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 29px;

    text-align: left;
  }

  .list-item__img {
    width: 323px;
    height: 322px;
  }

  .list-item:nth-child(even)>.list-item__img {
    order: 2;
  }

  .list-item__title {
    font-size: 35.5px;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  .list-item__text {
    font-size: 29.2px;
    letter-spacing: 0.025em;
  }

  /* -----section-comparison--------- */

  .section-comparison {
    background-image: url(./img/tablet/clouds_tab.png);
    padding-top: 55px;
    padding-bottom: 256px;
  }

  .table-comparison {
    display: block;
  }

  .comparison__healthy-sleep {
    text-align: center;
    font-size: 36.3px;

    text-transform: uppercase;
    letter-spacing: 0.025em;

    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;

    max-width: 700px;
  }

  .comparison__healthy-sleep_accent {
    font-size: 50.8px;
  }
}

@media (min-width: 1536px) {
  .section-hero {
    background-image: url(./img/desktop/image_stak_desk.png);
    padding-bottom: 76px;
  }

  .hero__logo {
    width: 345px;
    height: 345px;
  }

  .hero__title {
    font-size: 83.4px;
    letter-spacing: normal;
    font-weight: inherit;
  }

  .sup__title {
    font-size: 62.5px;
    line-height: 2;
    letter-spacing: 0.1em;
    font-weight: inherit;
    margin-bottom: 10px;
  }

  .hero__blanket_right {
    margin-top: -60px;
    max-width: 891px;
  }

  .hero__blanket_left {
    display: block;
    margin-left: 2px;
    margin-top: -352px;

    max-width: 750px;
  }

  /* ----.quality ------ */
  .advantages {
    padding: 100px 0 77px;
  }

  .quality {
    margin-top: 92px;
  }

  .filler__title,
  .cover__title {
    font-size: 52.1px;
  }

  .filler__sub-title,
  .cover__sub-title {
    font-size: 37.5px;
  }

  .high-quality__text,
  .high-quality__text {
    font-size: 37.5px;
  }


  .main-content__sup-title {
    position: absolute;
    top: 30%;
    left: 77%;
    width: 370px;

    font-size: 37.5px;
  }

  .main-content__sub-title {
    position: absolute;
    bottom: 97px;
    left: 78%;

    font-size: 37.5px;
  }

  .list-item__img {
    width: 501px;
    height: 501px;
  }

  .list-item__title {
    font-size: 62.5px;
    line-height: 1.2;
  }

  .list-item__text {
    font-size: 37.5px;
  }

  /* ------.comparison----------- */

  .comparison__title {
    font-size: 77.1px;
    margin-bottom: 46px;
  }

  .table-comparison__blankets-img {
    width: 607px;
    height: 311px;
    margin-bottom: 38px;
  }

  .table-comparison__blankets-text {
    font-size: 52.1px;
  }

  .characteristics-item__title {
    font-size: 41.7px;
  }

  .characteristics-item__text {
    padding: 34px 41px;
    background-color: #ee7601;
    text-align: center;
    border-radius: 10px;
    font-size: 37.5px;
  }

  .comparison__healthy-sleep {
    font-size: 52.1px;
    max-width: 1000px;
    margin-top: 68px;
  }

  .comparison__healthy-sleep_accent {
    font-size: 73px;
  }

  /* -----section-comparison--------- */

  .section-comparison {
    background-image: url(./img/desktop/clouds_desk.png);
    padding-top: 79px;
    padding-bottom: 343px;
  }
}